:root {
    --primary-color: #1b143a;
    --font-color: white;
    --contrast-color: black;

    --time-opacity-transition: 4s;
    --time-color-transition: 2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);
    position: relative;

    width: 100vw;
    max-width: 400px;
    margin: auto;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-display {
    width: 70%;
    aspect-ratio: .65;
    margin: 15% 15% 0 15%;
    position: relative;
}

.img-display img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    opacity: 0;
    transition: opacity var(--time-opacity-transition);
    border: .3em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: 1em;
}

.img-display img.active {
    z-index: 5;
    transition: opacity var(--time-opacity-transition);
    opacity: 1;
}

.img-display ul {
    z-index: 10;
    display: flex;
    gap: 10px;
    padding: .3em 1em;
    background-color: hsl(from var(--contrast-color) h s l / 50%);
    border-radius: 1em;
    position: absolute;
    bottom: 0;
    margin: .5em 0;
    left: 50%;
    transform: translateX(-50%);
}

.img-display ul li {
    width: .5em;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: background-color var(--time-color-transition);
    background-color: hsl(from var(--font-color) h s l / 50%);
}

.img-display ul li.active {
    transition: background-color var(--time-color-transition), transform var(--time-color-transition);
    background-color: var(--font-color);
    transform: scale(1.5);
}

.timer {
    width: 80%;
    margin: 1.5em auto 0;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer p {
    color: hsl(from var(--font-color) h s l / 50%);
}

.timer #time,
.timer #love {
    color: var(--font-color);
    margin: .5em;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.5em;
}

#lineSection {
    width: 85%;
    margin: auto;
    border: .15em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: 1em;
}

.text {
    width: 70%;
    margin: 3em auto;
    text-align: center;
}

.text p {
    font-size: .9em;
    line-height: 1.5em;
}

.text p #special {
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.1em;
    padding: .2em .5em;
    background-color: hsl(from var(--font-color) h s l / 50%)
}

.maps {
    width: 80%;
    aspect-ratio: 1.3;
    margin: 0 auto 15%;
    position: relative;
    transition: transform 1s;
}

.maps::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: hsl(from var(--contrast-color) h s l / 50%);
    z-index: 20;
    border: .3em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: 1em;
    transition: opacity 1s, visibility 1s linear(0 0%, 1 1%, 1 100%);
}

.maps:hover {
    transform: scale(1.1);
}

.maps:hover::before {
    opacity: 0;
    visibility: hidden;
}

#mapsQuadrado {
    width: 100%;
    height: 100%;
    border: .3em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: 1em;
}

.heart {
    font-size: 1.8em;
    position: fixed;
    left: 50%;
    top: -2em;
    animation: 5s fall;
    z-index: 50;
    opacity: 0;
    color: red;
}

@keyframes fall {
    0% {
        top: -2em;
        opacity:  1;
    }
    90% {
        opacity: 0;
    }
    100% {
        top: 100%;
    }
}

#heartsFalling {
    margin: 3em auto;
    background-color: hsl(from #e84757 h s l / 100%);
    color: hsl(from var(--font-color) h s l / 75%);
    font-size: 1.1em;
    padding: .5em 3em;
    position: relative;
    border: .3em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: .8em;
    cursor: pointer;
}

#heartsFalling span:first-of-type {
    position: absolute;
    transform: translateY(-50%);
    left: 1em;
}

#heartsFalling span:last-of-type {
    position: absolute;
    transform: translateY(-50%);
    right: 1em;
}

#heartsFalling.disable {
    transition: transform 1s, opacity 1s;
    transform: scale(0.8);
    pointer-events: none;
    opacity: 0.6;
}

#heartsFalling.disable:hover {
    cursor: wait;
}

#hiddenMusic {
    display: none;
}