:root {
    --primary-color: #1c6d2d;
    --font-color: white;
    --contrast-color: black;

    --time-opacity-transition: 4s;
    --time-color-transition: 2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--primary-color);
    color: var(--font-color);

    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.img-display {
    width: 70%;
    aspect-ratio: .65;
    margin: 15vw;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity var(--time-opacity-transition);
    border: .3em hsl(from var(--font-color) h s l / 50%) solid;
    border-radius: 1em;
}

img.active {
    z-index: 5;
    transition: opacity var(--time-opacity-transition);
    opacity: 1;
}

ul {
    z-index: 10;
    display: flex;
    gap: 10px;
    padding: .3em 1em;
    background-color: hsl(from var(--contrast-color) h s l / 50%);
    border-radius: 1em;
    position: absolute;
    bottom: 0;
    margin: .5em 0;
    left: 50%;
    transform: translateX(-50%);
}

ul li {
    width: .5em;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: background-color var(--time-color-transition);
    background-color: hsl(from var(--font-color) h s l / 50%);
}

ul li.active {
    transition: background-color, transform var(--time-color-transition);
    background-color: var(--font-color);
    transform: scale(1.5);
}

.timer {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timer p {
    color: hsl(from var(--font-color) h s l / 50%);
}

.timer span {
    color: var(--font-color);
    margin: .5em;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1.5em;
}